# FOR LOCAL DEVELOPMENT ONLY

#Payments
#
# For Stripe integration on the server. Test key is the same within VERCEL for preview branches
#
STRIPE_SECRET_KEY=
#
# For the initial pre-order product
#
PRE_ORDER_PRICE_ID=