# FOR LOCAL DEVELOPMENT ONLY

### App ###
# 
# NEXT_PUBLIC_FIREBASE_EMULATE for runnning local firebase emulators
# Use for development purposes
# 
NEXT_PUBLIC_FIREBASE_EMULATE=true

### Payments ###
#
# For Stripe integration on the server. Test key is the same within VERCEL for preview branches
#
STRIPE_SECRET_KEY=
#
# For the initial pre-order product
#
PRE_ORDER_PRICE_ID=


### Error Reporting ###
#
# NEXT_PUBLIC_SENTRY_DSN sets the project and data stream destination 
#
NEXT_PUBLIC_SENTRY_DSN=
#
# SENTRY_AUTH_TOKEN used by cli in dev and in Vercel env vars
#
SENTRY_AUTH_TOKEN=