html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

div#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mdl-button {
  border-radius: 99px !important;
  border: 1px solid #c8cdd0 !important;
  box-shadow: none !important;
}

.firebaseui-idp-button,
.firebaseui-tenant-button {
  max-width: 280px !important;
  padding: 16px 42px !important;
  /* box-shadow: --chakra-var-lg  */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.firebaseui-idp-text {
  font-size: 16px !important;
  color: #262626 !important;
}

.recharts-text {
  fill: #a3a3a3;
  font-size: 10px;
}

.recharts-cartesian-axis line,
.recharts-cartesian-grid-vertical line,
.recharts-cartesian-grid-horizontal line {
  stroke: #f0f0f0;
}
